body {
    background-color: #e8f0fe;
    font-family: 'Segoe UI', sans-serif;
    color: #1a237e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 100, 0.15);
    width: 500px;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
}

.title {
    margin-bottom: 20px;
    color: #0d47a1;
    font-size: 22px;
}

/* Tabla */
#tablaContainer {
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th,
td {
    border-bottom: 1px solid #bbdefb;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #e3f2fd;
    color: #0d47a1;
}

/* Botones */
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0d47a1;
}

td button {
    background-color: #ef5350;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

td button:hover {
    background-color: #c62828;
}